<div class="main-pic d-flex" style="background-image: url(<%= asset_path 'cocktail.jpg' %>);">

  <p>Welcome & Enjoy</p>
</div>

<div class="container">
  <h2>Have a look at all our tasty Cocktails 👀</h2>
  <ul class="no-bp-list">
    <% @cocktails.each do |cocktail| %>
      <li class="pretty-links">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </li>
    <% end %>
  </ul>

  <h4><strong>Now</strong> that's what I call... a list... of... cocktails?</h4>
</div>
