<div class="main-pic">
  <%= image_tag("cocktail.jpg", :alt => "cocktail picture") %>
  <h1>Look at all our tasty Cocktails 👀</h1>
</div>

<div class="container">



  <ul class="no-bp-list">
    <% @cocktails.each do |cocktail| %>
      <li class="pretty-links">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </li>
    <% end %>
  </ul>

  <h4><strong>Now</strong> that's what I call... a list... of... cocktails?</h4>
</div>
