<div class="main-pic d-flex" style="background-image: url(<%= asset_path 'cocktail.jpg' %>);">
  <p>Welcome & Enjoy</p>
</div>

<div class="container mt-4">
  <h2 class="d-flex justify-content-center mb-4">All Cocktails</h2>
  <ul class="no-bp-list">
    <% @cocktails.each do |cocktail| %>
      <li class="pretty-links d-flex justify-content-center">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </li>
    <% end %>
  </ul>

  <h4 class="mt-4 d-flex justify-content-center">Enjoy!</h4>
  <i class="fas fa-glass-martini-alt d-flex justify-content-center"></i>
</div>
