.no-bp-list {
  list-style-type: none;
  padding-left: 0;
}

.no-bp-list li {
    list-style-type: none;
    padding-left: 0;
}

.pretty-links a {
  text-decoration: none;
  color: black;
}

.pretty-links a:hover {
  color: darkgrey;
}

.main-pic {
  max-width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  justify-content: space-around;
  font-family: 'League Script', cursive;
  font-size: 125px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
