.no-bp-list li {
    list-style-type: none;
}

.pretty-links a {
  text-decoration: none;
  color: orangered;
}

.pretty-links a:hover {
  color: black;
}

.main-pic img {
  max-width: 100%;
  height: auto;
}
