<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="navbar-brand fas fa-cocktail d-inline-block align-top"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav pretty-links">
      <span class="nav-item nav-link"><%= link_to "See All Cocktails", cocktails_path %></span>
      <span class="nav-item nav-link"><%= link_to "New Cocktail", new_cocktail_path %></span>
<!--       <span class="nav-item nav-link" href="#">About</span>
 -->    </div>
  </div>
</nav>
